#mainImage{
    width: 500px;
    height: 300px;
}
#topBar{
    font-size: 2em;
    background-color: rgb(165, 231, 247);
    text-align: left !important;
}
#contain {
    padding: 20px;
}
.recording {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 20px;
    background-color: #a00;
    /*color: #fff;*/
    font-size: 20pt;
    border-radius: 5px;
}

.panel-anim, .panel-anim>* {
    transition: all 0.3s;
}
.panel-hide {
  pointer-events: none;
  opacity: 0;
}
.panel-hide>* {
    transform: translateY(-20px);
}

#sidebar {
    width: 190px;
    background-color: rgb(165, 231, 247);
}
#page {
    margin-left: 190px;
}
#logo {
    padding: 8px;
}
#logo img {
    width: 100%;
}
.menu {
    color: #00f !important;
    text-decoration: underline;
}
#load{
	width: 300px;
	height : 300px;
	margin-top: -100px;
	margin-bottom: -100px;
}
/*#ajaxBusy{
    display: none;
}*/

.action-button{
    font-weight: normal;
    margin-bottom: 5px;
    font-size: 1.1em;
}

#wavfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#wavfile2 {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label{
    font-size: 0.8em;
}
#showInput{
   width: 160px;
}

/*#confirm{
    display: none;
}*/

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.record-circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #f00;
  animation: flicker 1s infinite;
  margin: 10px auto;
}
@keyframes flicker {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
